<%= render "/shared/common_header", title: "Messages"%>
<br/>

<!-- follower list -->
<div class="container" id="content_messages">
  <%= render "/shared/message_list", messages: @messages, current_user: @current_user %>
</div>
<br/><br/><br/><br/>
<div class="row-fluid navbar-fixed-bottom btn-group btn-group-justified">
  <div class="navbar-inner navbar-content-center">
    <%= link_to "Write" , new_message_path, :class => 'btn btn-write', :role=>'button'%>
  </div>
</div>
