<div id="show_message">
  <%if @tab_class[:message] == "btn-active" %>
    <div class="container" id="content_messages">
      <%= render "/shared/message_list", messages: @messages, current_user: @current_user %>
    </div>
  <%end %>
</div>
