<head>
  <title>WARP Community</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="sign_up_form">
	<h1>New user</h1>

	<%= render 'form' %>
</body>