$nav-padding:50px;

.nav-padding{
	height:$nav-padding;
}

.border-right{
	border-right: 1px solid;
}


.border-left{
	border-left: 1px solid;
}

.glyphicon{
	color:blue;
	background-color:transparent;
}

.timepicker-picker > a{
	background-color:transparent;
}

a:hover, a:focus{
	color:transparent;
	background-color:transparent;
}

.bootstrap-datetimepicker-widget .btn{
	background-color:transparent;
}

.bootstrap-datetimepicker-widget .btn-primary{
	background-color: #428bca;
	border-color: #357ebd;
}

.sign_up_form{
	background-image: url("/images/singup_bg01.png");
	background-position: top center;
}