/* nav bar 위치 수정 */
.navbar-collapse{
	float:right;	
	text-align:right;
}

/* nav bar 때문에 그 공간만큼 Body 패딩 */
$nav-padding:50px;
.nav-padding{
	height:$nav-padding;
}

/* glyphicon default 색상 및 배경색 설정 */
.glyphicon{
	color:blue;
	background-color:transparent;
}

/* datetime picker 관련 */
.timepicker-picker > a{
	background-color:transparent;
}

a:hover, a:focus{
	color:transparent;
	background-color:transparent;
}

.bootstrap-datetimepicker-widget .btn{
	background-color:transparent;
}

.bootstrap-datetimepicker-widget .btn-primary{
	background-color: #428bca;
	border-color: #357ebd;
}

/* full width 차지하는 Button들 border */
.btn-group-justified{
	a{
		border-radius:0px;
	}
}

/* hr */
hr{
	border-top: 1px solid #e3e3e3;
}

/* pager */
.pagination > span{
	color:#999999;
	font-size:26px;
}
.pagination > span.current{
	color:#2a8be9;
	font-size:26px;
}

/* tab button */
.btn-tab-default{
	font-size:20px;
}

.btn-active{
	@extend .btn-tab-default;
	background-color:#ffffff;
	color:#2a8be9;
}
.btn-active:hover{
	@extend .btn-active;
}

.btn-deactive{
	@extend .btn-tab-default;
	background-color:#2f2f2f;
	color:#666;
}
.btn-deactive:hover{
	@extend .btn-deactive;
}

/* gray_color text */
.gray_color{
	color:#888888;
}

a.no_hover:hover{
	background-color:transparent;
}
