// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* User 에서 Follower 수랑 Follow버튼 사이 세로 줄 */
.border-right{
	border-right: 1px solid;
}
.border-left{
	border-left: 1px solid;
}

/* 회원가입 화면 */
.sign_up_form{
	background-image: url("/images/singup_bg01.png");
	background-position: top center;
}

/* User show */
.profile_background{
	background-color:#2f2f2f;
}

.thumbnail{
	border-radius:10px;
}

.follower_count{
	font-size:32px;
	color:#2a8be9;
	height:40px;
	padding-top:10px;
}

.btn-event{
	@extend .btn-tab-default;
	background-color:#f5f5f5;
	color:#666;
}

.user_description{
	color:#222222;
	font-size:16px;
}

.follower_count_in_user{
	font-size:15px;
	color:#2a8be9;
}